.login_logo {
    margin-right: 215px;
}
.login_form {
    max-width: 503px;
    max-height: 566px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 65px 50px;
    text-align: left;
    background-color: #fff;
}
.login_form__header {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    margin-bottom: 30px;
}

.login_form__text {
    margin-bottom: 50px;
}
.login_form__span {
    margin-right: 10px;
}
